body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    padding: 70px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.top-header{
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.top-header .brand{
    height: 44px;
    width: 134px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-items > a{
    text-decoration: none;
    color: #000;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
}

.menu-items > a:hover{
    color: #ff4c60;
}


.primary-btn{
    background-color: #ff4c60;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 1px solid #ff4c60;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #fff;
    color: #ff4c60;
    border: 1px solid #ff4c60;
}

/* --------------------------------------
Hero section area
-------------------------------------- */
.hero-section{
    width: 100%;
    min-height: 91vh;
    background-image: url('./images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.hero-section::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.hero-section .container {
    flex: 1;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}


.hero-content{
    text-align: center;
    color: #fff;
}

.hero-content > h4{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.hero-content > p{
    max-width: 500px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 20px;
}

.hero-btn{
    background-color: #ff4c60;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 13px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 1px solid #ff4c60;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hero-btn:hover{
    background-color: #f4253d;
}


/* --------------------------------------
Speakers Section Area
-------------------------------------- */
.speakers-section{
    padding-top: 120px !important;
}

.section-title{
    text-align: center;
    margin-bottom: 3rem;
}

.section-title > h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: #0D1B2A;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.card {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 3px 15px rgba(0 ,0 ,0 ,0.1);
}

.grid-container .card .card-body {
    height: 325px;
    width: 100%;
}

.card-footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-label {
    color: #ff4c60;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.card-footer .name {
    font-size: 20px;
    font-weight: bold;
    color: #413e3e;
    margin: 0;
}

.card-footer > p {
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 300;
    margin: 0;
    letter-spacing: .3px;
}


/* --------------------------------------
Pricing Area
-------------------------------------- */

.pricing-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.pricing-grid-container .card{
    padding: 30px;
}

.pricing-card-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: start;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.pricing-card-header > h6 {
    font-size: 13px;
    font-weight: 500;
    color: #888888;
    margin-bottom: 8px;
    text-transform: uppercase;
    margin-top: 0;
}

.pricing-card-header > h2{
    font-size: 40px;
    font-weight: bold;
    color: #0D1B2A;
    margin: 0;
}

.pricing-card-header > p{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .2px;
    color: #888888;
    margin: 0;
}

.pricing-card-body .plan-list {
    padding: 10px 0 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pricing-card-body > ul > li {
    font-size: 14px;
    font-weight: 500;
    color: #525151;
}

.pricing-card-body > ul > li::marker {
    color: #ff4c60;
}

.section-title > p {
    margin: 0;
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

button.pricing-btn {
    text-align: center;
    width: 100%;
    padding: 13px 15px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background: transparent;
    border: 1px solid #ff4c60;
    border-radius: 10px;
    color: #ff4c60;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

button.pricing-btn:hover{
    background-color: #ff4c60;
    color: #fff;
}

.pricing-grid-container .card.pro {
    background: #0D1B2A;
}

.card.pro .pricing-card-header > h6 {
    color: #ff4c60;
}

.card.pro .pricing-card-header > h2 {
    color: #fff;
}

.card.pro .pricing-card-header > p {
    color: #cbcbcb;
}

.card.pro .pricing-card-body > ul > li {
    color: #fefefed1;
}

.card.pro .pricing-card-header {
    border-bottom: 1px solid #dddddd40;
}

.card.pro .pricing-btn {
    background: #ff4c60;
    color: #fff;
}

.card.pro .pricing-btn:hover{
    background-color: transparent;
    color: #ff4c60;
}