body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-header{
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.top-header .brand{
    height: 44px;
    width: 134px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-items > a{
    text-decoration: none;
    color: #000;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
}

.menu-items > a:hover{
    color: #ff4c60;
}


.primary-btn{
    background-color: #ff4c60;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 1px solid #ff4c60;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #fff;
    color: #ff4c60;
    border: 1px solid #ff4c60;
}